/* linear-gradient(to right, #8EC2EA 0%, 20.51546424627304%, #D0E7EF 41.03092849254608%, 70.51546424627304%, #9AB4AB 100%); */

/* Gradient in RGBA */
/* linear-gradient(to right, rgba(142, 194, 234, 1) 0%, 20.51546424627304%, rgba(208, 231, 239, 1) 41.03092849254608%, 70.51546424627304%, rgba(154, 180, 171, 1) 100%); */

/* colors::
/* Color Theme Swatches in Hex */
/* .color-theme_macauly-addesso-hnaysCkF93U-unsplash-1-hex { color: #94CEF2; }
.color-theme_macauly-addesso-hnaysCkF93U-unsplash-2-hex { color: #DCEEF2; }
.color-theme_macauly-addesso-hnaysCkF93U-unsplash-3-hex { color: #A8BFBB; }
.color-theme_macauly-addesso-hnaysCkF93U-unsplash-4-hex { color: #BDBF73; }
.color-theme_macauly-addesso-hnaysCkF93U-unsplash-5-hex { color: #D98282; }

/* Color Theme Swatches in RGBA */
/* .color-theme_macauly-addesso-hnaysCkF93U-unsplash-1-rgba { color: rgba(148, 206, 242, 1); }
.color-theme_macauly-addesso-hnaysCkF93U-unsplash-2-rgba { color: rgba(220, 238, 242, 1); }
.color-theme_macauly-addesso-hnaysCkF93U-unsplash-3-rgba { color: rgba(168, 191, 187, 1); }
.color-theme_macauly-addesso-hnaysCkF93U-unsplash-4-rgba { color: rgba(189, 191, 115, 1); }
.color-theme_macauly-addesso-hnaysCkF93U-unsplash-5-rgba { color: rgba(217, 130, 130, 1); } */
 


*, *::after, *::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
h1{ 
    text-shadow: 0 5px 15px 2px rgba(0,0,0, .1);
}

.container{
    background-image: url("images/macauly-addesso-hnaysCkF93U-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
   min-height:75vh;
   width:100%;
  
   margin:0 auto;
 
}
.header{
    background-image:linear-gradient(to right, #8EC2EA 0%, 20.51546424627304%, #D0E7EF 41.03092849254608%, 70.51546424627304%, #9AB4AB 100%); 
    width:100%;
    min-height:20vh;;
    color:white;
    text-align: center;
    padding:.25em .5em;
    box-shadow: 0 5px  20px rgba(0,0,0, .1);
}
.hamburger{
    border:none;
 
   
   color:rgb(188,89,83, 0.5);
   padding:.5em 0.5em;
   border-radius:7px ;
   text-align: center;
margin-left:auto;
  
}
nav{
    align-items: center;
    padding-top: 1em;
    margin-right:auto;

    
    
}
.hidden{
    display:none;
}
.row{
    display:flex;

}
.col{
    display:flex;
    flex-direction: column;
}
.lower{
    
   min-height: 10%;
    width:100%;
    /* max-width: 1200px; */
    margin:0 auto;
    background: linear-gradient(to left, #8EC2EA 0%, 20.51546424627304%, #D0E7EF 41.03092849254608%, 70.51546424627304%, #9AB4AB 100%); ;
    justify-content: space-around;
    align-items: center;
    padding: 5em;
    gap:1em;
    color:rgb(188,89,83, 0.8);
  
  
   
}
h4{
margin:1em 0 1em 0;
}
.lower img{
    width:3em;
   height:3em;
    border-radius: 50%;
    object-fit: cover;
    
   

}
.activity{
   align-items: center; 
   justify-content: center;
   
}